.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.image {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -0%;
  left: -50%;
  background-image: url("./images/ddg_10388803.webp");
  background-position: center;
  background-size: cover;
}
