.image {
  width: 200vw;
  height: 200vh;
  margin-left: -50%;
  background-image: url("./assets/ddg_10388803.webp");
  background-position: left;
  background-size: cover;
}
.image svg {
  
  /* transform: scale(0.45); */
  /* margin-top: -450px; */
  /* margin-left: -120px; */
}
