.image {
  width: 200vw;
  height: 200vh;
  margin-left: -50%;
  background-image: url("./assets/map.webp");
  background-position: left;
  background-size: cover;
}

rect:nth-child(3) {
  fill: #f00;
}
